<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count = "3" name = "Select Hotel Test Suite" parallel = "classes"> 
<test name = "Test Classes"> 
<classes> 
     <class name = "SelectHotelTC.HomePageTC1"/> 
     <class name = "SelectHotelTC.HomePageTC2"/> 
</classes> 
</test> 
</suite>